body {
    margin: 0;
    color: #f9f9fa;
    background: #272935;
    font-size: 22px;
    line-height: 32px;
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.main-header {
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
    padding: 30px 40px;
    background: #0ff0fc;
    position: relative;
    z-index: 1;
}

.name {
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
}
.name a{
    color: #333333;
    text-decoration: none;
}
.menu-links a {
    color: #333333;
    padding: 10px 15px;
    font-size: 20px;
    text-decoration: none;
    position: relative;
}
.header-menu {
    justify-content: end;
    display: grid;
}
.home-content-main {
    display: grid;
    grid-template-columns: 68% 32%;
    margin: 5rem 0 0 0;
    align-items: center;
    grid-gap: 15px;
    padding: 0 40px;
}
.profile-image img {
    border-radius: 50%;
    max-width: 100%;
}
.home-title {
    font-size: 4rem;
    -webkit-text-stroke: #0ff0fc;
    -webkit-text-stroke-width: 3px;
    color: #272935;
}
.home-content {
    font-size: 22px;
    line-height: 32px;
}
svg {
    font-size: 50px;
}
.facebook > svg{
    fill: #4267B2;
}
.linkedin > svg{
    fill: #0A66C2;
}
.twitter > svg{
    fill: #1DA1F2;
}
footer {
    justify-content: center;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 15px;
    margin: 5rem 0  0 0;
    padding: 10px 0;
    border-top: 2px solid #0ff0fc;
}
#about {
    padding: 0 40px;
}
.skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 15px;
}
.skill {
    background: #0ff0fc;
    color: #333;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}
.project {
    display: grid;
    grid-template-columns: 30% 65%;
    align-items: center;
    grid-gap: 15px;
    margin: 0 0 2rem;
}
.project:last-child{
    margin: 0;
}
.project > img {
    max-width: 100%;
    border-radius: 20px;
}
section.portfolio-gallery {
    margin: 5rem 0 0;
    padding: 0 40px;
}
.project.project-01,
.project.project-03 {
    grid-auto-flow: dense;
    grid-template-columns: 65% 30%;
}
.project-01 img,
.project-03 img {
    grid-column: 2;
}
.project-01 .project-desc,
.project-03 .project-desc {
    grid-column: 1;
}
form.contact-form > input {
    height: 2rem;
    width: 100%;
}
#contact {
    display: grid;
    justify-content: center;
    grid-template-columns: 40%;
}
.contact-form textarea {
    width: 100%;
}
form.contact-form > input.submit-btn {
    float: left;
    width: auto;
    height: auto;
    padding: 15px 20px;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
}
form.contact-form > input.submit-btn:hover {
    background: #0ff0fc;
    color: #333;
}
ul.menu-links {
    margin: 0;
    padding: 0;
}
.profile-image {
    position: relative;
    width: 100%;
    float: left;
}
.area{
    background: #4e54c8;  
    width: 100%;   
}

.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    overflow: hidden;
    margin: 0;
    z-index: -1;
}
.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(125, 18, 255, 0.3);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
    background: rgba(57, 255, 20, 0.2);
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
    background: rgba(255, 16, 240, 0.2);
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
    background: rgba(255, 16, 240, 0.2);
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
    background: rgba(255, 255, 51, 0.3);
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
    background: rgba(255, 103, 0, 0.2);
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
    background: rgba(0, 255, 188, 0.2);
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
    background: rgba(191, 47, 130, 0.2);
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
    background: rgba(128,0,255, 0.2);
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
    background: rgba(255,0,169, 0.2);
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}
.menu-links a::after {
    content: '';
    height: 2px;
    background: black;
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: 0;
    transform: scaleX(0);
    transition: all 0.5s ease-in-out;
}
.menu-links a:hover::after {
    transform: scaleX(1);
}
footer > a {
    height: 50px;
}
@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}


@media (max-width:1199px) and (min-width:992px) {
    .home-content-main {
        grid-template-columns: 68% 30%;
        margin: 3rem 0 0 0;
        padding: 0 30px;
    }
    h2 {
        font-size: 26px;
    }
    body{
        font-size: 18px;
        line-height: 28px;
    }
    .home-title {
        font-size: 3rem;
    }
    .home-content {
        font-size: 18px;
        line-height: 28px;
    }
    .menu-links a {
        padding: 8px 12px;
        font-size: 18px;
    }
    .name {
        font-size: 40px;
    }
    .main-header {
        padding: 20px 30px;
    }
    #about {
        padding: 0 30px;
    }
    footer {
        margin: 3rem 0  0 0;
    }
    svg {
        font-size: 40px;
    }
    footer > a {
        height: 40px;
    }
    section.portfolio-gallery {
        margin: 3rem 0 0;
        padding: 0 30px;
    }
    .home-title {
        font-size: 2.5rem;
        -webkit-text-stroke-width: 2px;
    }

}

@media (max-width:991px) and (min-width:768px) {
    .menu-links a {
        padding: 8px 10px;
        font-size: 16px;
    }
    .name {
        font-size: 30px;
    }
    .main-header {
        padding: 15px 20px;
    }
    .home-content-main {
        grid-template-columns:68% 30%;
        margin: 1rem 0 0 0;
        padding: 0 20px;
    }
    .home-content {
        font-size: 16px;
        line-height: 26px;
    }
    .home-title {
        font-size: 2.5rem;
        margin: 15px 0;
        -webkit-text-stroke-width:2px;
    }
    footer{
        margin: 2rem 0 0;
    }
    body{
        font-size: 16px;
        line-height: 26px;
    }
    svg {
        font-size: 30px;
    }
    footer > a {
        height: 30px;
    }
    h2 {
        font-size: 22px;
    }
    #about{
        padding: 0 20px;
    }
    section.portfolio-gallery {
        margin: 1rem 0 0;
        padding: 0 20px;
    }
    form.contact-form > input.submit-btn {
        padding: 10px 15px;
        font-size: 16px;
    }
}

@media (max-width:767px) and (min-width:481px) {
    .menu-links a {
        padding: 5px 8px;
        font-size: 14px;
    }
    .name {
        font-size: 24px;
    }
    .main-header {
        padding: 10px 15px;
    }
    .home-content-main {
        grid-template-columns:68% 30%;
        margin: 15px 0 0 0;
        padding: 0 15px;
    }
    .home-content {
        font-size: 14px;
        line-height: 24px;
    }
    .home-title {
        font-size: 1.5rem;
        margin: 15px 0;
        -webkit-text-stroke-width:1px;
    }
    footer{
        margin: 1rem 0 0;
    }
    body{
        font-size: 14px;
        line-height: 24px;
    }
    svg {
        font-size: 24px;
    }
    footer > a {
        height: 24px;
    }
    h2 {
        font-size: 20px;
    }
    #about{
        padding: 0 15px;
    }
    section.portfolio-gallery {
        margin: 1rem 0 0;
        padding: 0 15px;
    }
    form.contact-form > input.submit-btn {
        padding: 10px 15px;
        font-size: 14px;
    }
    #contact {
        grid-template-columns: 60%;
    }
    .skills {
        column-gap: 10px;
        row-gap: 10px;
    }
}


@media (max-width:480px) and (min-width:320px) {
    .menu-links a {
        padding: 5px 12px;
        font-size: 14px;
    }
    .name {
        font-size: 26px;
    }
    .main-header {
        padding: 10px;
        display: block;
    }
    .header-logo {
        text-align: center;
    }
    .header-menu {
        justify-content: center;
        margin: 10px 0 0;
    }
    .home-content-main {
        grid-template-columns: 100% 100%;
        grid-auto-flow: dense;
        margin: 10px 0 0;
        padding: 0 10px;
    }
    .main-content {
        grid-row: 2;
        grid-column: 1;
    }
    .profile-image {
        grid-row: 1;
        grid-column: 1;
        width: 70%;
        margin: 0 auto;
    }
    .home-content {
        font-size: 14px;
        line-height: 24px;
    }
    .home-title {
        font-size: 1.5rem;
        margin: 0 0 15px;
        -webkit-text-stroke-width:1px;
    }
    footer{
        margin: 1rem 0 0;
    }
    body{
        font-size: 14px;
        line-height: 24px;
    }
    svg {
        font-size: 22px;
    }
    footer > a {
        height: 22px;
    }
    h2 {
        font-size: 16px;
    }
    .project.project-01, .project.project-03,.project {
        display: block;
    }
    #about{
        padding: 0 10px;
    }
    section.portfolio-gallery {
        margin: 1rem 0 0;
        padding: 0 10px;
    }
    form.contact-form > input.submit-btn {
        padding: 10px 15px;
        font-size: 14px;
    }
    #contact {
        grid-template-columns: 60%;
    }
    .skills {
        column-gap: 10px;
        row-gap: 10px;
        grid-template-columns: 1fr 1fr;
    }
}